{% extends 'Main/header.html' %}
{% block content %}
    {% if show_comments %}  
        <div>
            <h2>All Commentary</h2>
            {% for comments in comments %}
            <div id="allcommentsmargin">
                <br>
                    <p>{{comments.date_created}}</p>
                    <div id="comments">
                        <br>{{comments.comment}}
                    </div>
            </div>
            {% endfor %}  
            {% else %}
    {% endif %}
{% endblock %}