{% extends 'Main/header.html' %}

{% block content %}
<html>
    <body>
        <div align="center">
            <h1>Women's Decathalon</h1>
        </div>
        <div align="left">
                <table style="width 100%">                  
                    {% for womens_decathalon in womens_decathalon %}
                    <tr id="tr1">
                    <td><p id="p5"><b>{{ womens_decathalon.user }}</b></p></td>
                    <td><p><b>Gold-</b> {{ womens_decathalon.gold }}</p></td>
                    <td><p><b>Silver-</b> {{ womens_decathalon.silver }}</p></td>
                    <td><p><b>Bronze-</b> {{ womens_decathalon.bronze }}</p></td></tr>
                    {% endfor %}
        </div>
    </body>
</html>
{% endblock %}