{% extends 'Main/header.html' %}

{% block content %}
<html>
    <body>
        <div align="center">
            <h1>Men's Swimming 200m Freestyle</h1>
        </div>
        <div align="left">
                <table style="width 100%">                  
                    {% for mens_swimming_200m_freestyle in mens_swimming_200m_freestyle %}
                    <tr id="tr1">
                    <td><p id="p5"><b>{{ mens_swimming_200m_freestyle.user }}</b></p></td>
                    <td><p><b>Gold-</b> {{ mens_swimming_200m_freestyle.gold }}</p></td>
                    <td><p><b>Silver-</b> {{ mens_swimming_200m_freestyle.silver }}</p></td>
                    <td><p><b>Bronze-</b> {{ mens_swimming_200m_freestyle.bronze }}</p></td></tr>
                    {% endfor %}
        </div>
    </body>
</html>
{% endblock %}