{% extends 'Main/header.html' %}

{% block content %}
<html>
    <body>
        {% if allow_change %}
        <h1>All guesses will be visible when guessing locks</h2>
        <a id="link1" href="/view-all/">Go Back</a>
        {% else %}
        <div align="center">
            <h1>Men's BMX</h1>
        </div>
        <div align="center">  
            <p id="p6"><b>Gold-</b>{{sport.gold}}</p>
            <p id="p6"><b>Silver-</b>{{sport.silver}}</p>
            <p id="p6"><b>Bronze-</b>{{sport.bronze}}</p>
        </div>
        <div align="left">
                <table style="width 100%">                  
                    {% for mens_bmx in mens_bmx %}
                    <tr id="tr1">
                    <td><p id="p5"><b>{{ mens_bmx.user }}</b></p></td>
                    <td><p><b>Gold-</b> {{ mens_bmx.gold }}</p></td>
                    <td><p><b>Silver-</b> {{ mens_bmx.silver }}</p></td>
                    <td><p><b>Bronze-</b> {{ mens_bmx.bronze }}</p></td></tr>
                    {% endfor %}
        </div>
        {% endif %}
    </body>
</html>
{% endblock %}