{% extends 'Main/header.html' %}

{% block content %}
<html>
    <body>
        {% if allow_change %}
        <h1>All guesses will be visible when guessing locks</h2>
        <a id="link1" href="/view-all/">Go Back</a>
        {% else %}
        <div align="center">
            <h1>Women's Soccer</h1>
        </div>
        <div align="center">  
            <p id="p6"><b>Gold-</b>{{sport.gold}}</p>
            <p id="p6"><b>Silver-</b>{{sport.silver}}</p>
            <p id="p6"><b>Bronze-</b>{{sport.bronze}}</p>
        </div>
        <div align="left">
                <table style="width 100%">                  
                    {% for womens_soccer in womens_soccer %}
                    <tr id="tr1">
                    <td><p id="p5"><b>{{ womens_soccer.user }}</b></p></td>
                    <td><p><b>Gold-</b> {{ womens_soccer.gold }}</p></td>
                    <td><p><b>Silver-</b> {{ womens_soccer.silver }}</p></td>
                    <td><p><b>Bronze-</b> {{ womens_soccer.bronze }}</p></td></tr>
                    {% endfor %}
        </div>
        {% endif %}
    </body>
</html>
{% endblock %}