{% extends 'Main/header.html' %}

{% block content %}
<html>
    <body>
        <div align="center">
                    <h2>Eventing</h2>
                    {% for eventing in eventing %}
                    <h2>{{ eventing.user }}</h2>
                    <p><b>Gold-</b></p>
                    <p>{{ eventing.gold }}</p>
                    <p><b>Silver-</b></p>
                    <p>{{ eventing.silver }}</p>
                    <p><b>Bronze-</b></p>
                    <p>{{ eventing.bronze }}</p>
                    {% endfor %}
        </div>
    </body>
</html>
{% endblock %}