{% extends 'Main/header.html' %}

{% block content %}
<html>
    <body>
        <div align="center">
            <h1>Women's Basketball</h1>
        </div>
        <div align="left">
                <table style="width 100%">                  
                    {% for womens_basketball in womens_basketball %}
                    <tr id="tr1">
                    <td><p id="p5"><b>{{ womens_basketball.user }}</b></p></td>
                    <td><p><b>Gold-</b> {{ womens_basketball.gold }}</p></td>
                    <td><p><b>Silver-</b> {{ womens_basketball.silver }}</p></td>
                    <td><p><b>Bronze-</b> {{ womens_basketball.bronze }}</p></td></tr>
                    {% endfor %}
        </div>
    </body>
</html>
{% endblock %}