{% extends 'Main/header.html' %}
{% block content %}

    {% if allow_change %}
        <h1>Select Winners for {{ sport.sport_name }}</h1>

        <div>
            <h2>Your current guesses:</h2>
                <p><b>Gold-</b></p>
                    <p>{{ userselection.gold }}</p>
                <p><b>Silver-</b></p>
                    <p>{{ userselection.silver }}</p>
                <p><b>Bronze-</b></p>
                    <p>{{ userselection.bronze }}</p>
        </div>

            <form method="POST" class="post-form">{% csrf_token %}
                <br><p id="p2">{{ form.as_ul }}</p>
            <p id="p2"><button type="submit" class="save btn btn-default">Save</button></p>
            </form>
    {% else %}
        <h1>Guesses can no longer be changed.</h1>
        <a id="link1" href="/view-all/"><button class="button1 button3">Click here to view all your guesses.</button></a>
    {% endif %}
{% endblock %}
