{% extends 'Main/header.html' %}

{% block content %}
    <body>
        {% if show_comments %}
                    <div class="leftcomments">
                        <h1>Current Rankings</h1>

                        <table id="table1" style="width:35%">
                        <tr id="tr1">
                            <td id="td1"><p><u>Username</u></p></td>
                            <td id="td1"><p><u>Score</u></p></td>
                        </tr>
                        {% for user in user %}
                        <tr id="tr1">
                            <td id="td1"><p>{{ user.username }}</p></td>
                            <td id="td1"><p>{{user.score}}</p></td>
                        </tr>
                    {% endfor %}
                        </table>
                    </div>
                </div>
            </div>
            <div>
                <div class="rightcomments">
                    <h3>Julia's Commentary</h3>
                    <a id="link3" href="/news/all"><b>Click here to view all commentary</b></a>
                </div>
            </div>
                {% for comments in comments %}
                <div class="rightcomments">
                    <br>
                        <p>{{comments.date_created}}</p>
                            <div id="comments">
                                <br>{{comments.comment}}
                            </div>
                </div>
                {% endfor %}
                        </div>
                    </div>
                </div>
            </div>

        {% else %}
            <div align="center">
                <h1>Current Rankings</h1>

                <table id="table1" style="width:35%">
                    <tr id="tr1">
                        <td id="td1"><p><u>Username</u></p></td>
                        <td id="td1"><p><u>Score</u></p></td>
                    </tr>
                    {% for user in user %}
                    <tr id="tr1">
                        <td id="td1"><p>{{ user.username }}</p></td>
                        <td id="td1"><p>{{user.score}}</p></td>
                    </tr>
                    {% endfor %}
                </table>
            </div>
        {% endif %}
    </body>


{% endblock %}