{% extends 'Main/header.html' %}

{% block content %}
<html>
    <body>
        <div align="center">
            <table style="width:100%">
                <tr>
                    <td><h2>Eventing</h2>
                    <p><b>Gold-</b></p>
                    <p>{{ eventing.gold }}</p>
                    <p><b>Silver-</b></p>
                    <p>{{ eventing.silver }}</p>
                    <p><b>Bronze-</b></p>
                    <p>{{ eventing.bronze }}</p>
                    <p><a align="center" href="/submit/eventing/">Change</a></p></td>
                
                    <td><h2>Women's All-Around Gymnastics</h2>
                    <p><b>Gold-</b></p>
                    <p>{{ womens_all_around_gymnastics.gold }}</p>
                    <p><b>Silver-</b></p>
                    <p>{{ womens_all_around_gymnastics.silver }}</p>
                    <p><b>Bronze-</b></p>
                    <p>{{ womens_all_around_gymnastics.bronze }}</p>
                    <p><a align="center" href="/submit/womens-all-around-gymnastics/">Change</a></p></td>
                    
                    <td><h2>Men's All-Around Gymnastics</h2>
                    <p><b>Gold-</b></p>
                    <p>{{ mens_all_around_gymnastics.gold }}</p>
                    <p><b>Silver-</b></p>
                    <p>{{ mens_all_around_gymnastics.silver }}</p>
                    <p><b>Bronze-</b></p>
                    <p>{{ mens_all_around_gymnastics.bronze }}</p>
                    <p><a align="center" href="/submit/mens-all-around-gymnastics/">Change</a></p></td>
                    
                    <td><h2>Women's Track 4x100m Relay</h2>
                    <p><b>Gold-</b></p>
                    <p>{{ womens_track_4x100_relay.gold }}</p>
                    <p><b>Silver-</b></p>
                    <p>{{ womens_track_4x100_relay.silver }}</p>
                    <p><b>Bronze-</b></p>
                    <p>{{ womens_track_4x100_relay.bronze }}</p>
                    <p><a align="center" href="/submit/womens-track-4x100-relay/">Change</a></p></td>               
                </tr>
                <tr>
                    <td><h2>Men's Track 4x100m Relay</h2>
                    <p><b>Gold-</b></p>
                    <p>{{ mens_track_4x100_relay.gold }}</p>
                    <p><b>Silver-</b></p>
                    <p>{{ mens_track_4x100_relay.silver }}</p>
                    <p><b>Bronze-</b></p>
                    <p>{{ mens_track_4x100_relay.bronze }}</p>
                    <p><a align="center" href="/submit/mens-track-4x100-relay/">Change</a></p></td>
                    
                    <td><h2>Women's Decathalon</h2>
                    <p><b>Gold-</b></p>
                    <p>{{ womens_decathalon.gold }}</p>
                    <p><b>Silver-</b></p>
                    <p>{{ womens_decathalon.silver }}</p>
                    <p><b>Bronze-</b></p>
                    <p>{{ womens_decathalon.bronze }}</p>
                    <p><a align="center" href="/submit/womens-decathalon/">Change</a></p></td>
                    
                    <td><h2>Men's Decathalon</h2>
                    <p><b>Gold-</b></p>
                    <p>{{ mens_decathalon.gold }}</p>
                    <p><b>Silver-</b></p>
                    <p>{{ mens_decathalon.silver }}</p>
                    <p><b>Bronze-</b></p>
                    <p>{{ mens_decathalon.bronze }}</p>
                    <p><a align="center" href="/submit/mens-decathalon/">Change</a></p></td>
                    
                    <td><h2>Women's Swimming 4x100m Medley Relay</h2>
                    <p><b>Gold-</b></p>
                    <p>{{ womens_swimming_4x100_medley_relay.gold }}</p>
                    <p><b>Silver-</b></p>
                    <p>{{ womens_swimming_4x100_medley_relay.silver }}</p>
                    <p><b>Bronze-</b></p>
                    <p>{{ womens_swimming_4x100_medley_relay.bronze }}</p>
                    <p><a align="center" href="/submit/womens-swimming-4x100-medley-relay/">Change</a></p></td>                                    
                </tr>
                <tr>
                    <td><h2>Men's Swimming 4x100m Medley Relay</h2>
                    <p><b>Gold-</b></p>
                    <p>{{ mens_swimming_4x100_medley_relay.gold }}</p>
                    <p><b>Silver-</b></p>
                    <p>{{ mens_swimming_4x100_medley_relay.silver }}</p>
                    <p><b>Bronze-</b></p>
                    <p>{{ mens_swimming_4x100_medley_relay.bronze }}</p>
                    <p><a align="center" href="/submit/mens-swimming-4x100-medley-relay/">Change</a></p></td>
                
                    <td><h2>Women's Swimming 200m Backstroke</h2>
                    <p><b>Gold-</b></p>
                    <p>{{ womens_swimming_200m_backstroke.gold }}</p>
                    <p><b>Silver-</b></p>
                    <p>{{ womens_swimming_200m_backstroke.silver }}</p>
                    <p><b>Bronze-</b></p>
                    <p>{{ womens_swimming_200m_backstroke.bronze }}</p>
                    <p><a align="center" href="/submit/womens-swimming-200m-backstroke/">Change</a></p></td>
                    
                    <td><h2>Men's Swimming 1500m Freestyle</h2>
                    <p><b>Gold-</b></p>
                    <p>{{ mens_swimming_1500m_freestyle.gold }}</p>
                    <p><b>Silver-</b></p>
                    <p>{{ mens_swimming_1500m_freestyle.silver }}</p>
                    <p><b>Bronze-</b></p>
                    <p>{{ mens_swimming_1500m_freestyle.bronze }}</p>
                    <p><a align="center" href="/submit/mens-swimming-1500-freestyle/">Change</a></p></td>
                    
                    <td><h2>Men's Golf</h2>
                    <p><b>Gold-</b></p>
                    <p>{{ mens_golf.gold }}</p>
                    <p><b>Silver-</b></p>
                    <p>{{ mens_golf.silver }}</p>
                    <p><b>Bronze-</b></p>
                    <p>{{ mens_golf.bronze }}</p>
                    <p><a align="center" href="/submit/mens-golf/">Change</a></p></td>
                </tr>
                <tr>
                    <td><h2>Women's Soccer</h2>
                    <p><b>Gold-</b></p>
                    <p>{{ womens_soccer.gold }}</p>
                    <p><b>Silver-</b></p>
                    <p>{{ womens_soccer.silver }}</p>
                    <p><b>Bronze-</b></p>
                    <p>{{ womens_soccerf.bronze }}</p>
                    <p><a align="center" href="/submit/womens-soccer/">Change</a></p></td>
                    
                    <td><h2>Men's Soccer</h2>
                    <p><b>Gold-</b></p>
                    <p>{{ mens_soccer.gold }}</p>
                    <p><b>Silver-</b></p>
                    <p>{{ mens_soccer.silver }}</p>
                    <p><b>Bronze-</b></p>
                    <p>{{ mens_soccer.bronze }}</p>
                    <p><a align="center" href="/submit/mens-soccer/">Change</a></p></td>
                    
                    <td><h2>Women's Beach Volleyball</h2>
                    <p><b>Gold-</b></p>
                    <p>{{ womens_beach_volleyball.gold }}</p>
                    <p><b>Silver-</b></p>
                    <p>{{ womens_beach_volleyball.silver }}</p>
                    <p><b>Bronze-</b></p>
                    <p>{{ womens_beach_volleyball.bronze }}</p>
                    <p><a align="center" href="/submit/womens-beach-volleyball/">Change</a></p></td>
                    
                    <td><h2>Men's Waterpolo</h2>
                    <p><b>Gold-</b></p>
                    <p>{{ mens_waterpolo.gold }}</p>
                    <p><b>Silver-</b></p>
                    <p>{{ mens_waterpolo.silver }}</p>
                    <p><b>Bronze-</b></p>
                    <p>{{ mens_waterpolo.bronze }}</p>
                    <p><a align="center" href="/submit/mens_waterpolo/">Change</a></p></td>
                </tr>
                <tr>
                    <td><h2>Women's BMX</h2>
                    <p><b>Gold-</b></p>
                    <p>{{ womens_bmx.gold }}</p>
                    <p><b>Silver-</b></p>
                    <p>{{ womens_bmx.silver }}</p>
                    <p><b>Bronze-</b></p>
                    <p>{{ womens_bmx.bronze }}</p>
                    <p><a align="center" href="/submit/womens-bmx/">Change</a></p></td>
                    
                    <td><h2>Men's BMX</h2>
                    <p><b>Gold-</b></p>
                    <p>{{ mens_bmx.gold }}</p>
                    <p><b>Silver-</b></p>
                    <p>{{ mens_bmx.silver }}</p>
                    <p><b>Bronze-</b></p>
                    <p>{{ mens_bmx.bronze }}</p>
                    <p><a align="center" href="/submit/mens-bmx/">Change</a></p></td>
                    
                    <td><h2>Men's Handball</h2>
                    <p><b>Gold-</b></p>
                    <p>{{ mens_handball.gold }}</p>
                    <p><b>Silver-</b></p>
                    <p>{{ mens_handball.silver }}</p>
                    <p><b>Bronze-</b></p>
                    <p>{{ mens_handball.bronze }}</p>
                    <p><a align="center" href="/submit/mens-handball/">Change</a></p></td>
                    
                    <td><h2>Women's Basketball</h2>
                    <p><b>Gold-</b></p>
                    <p>{{ womens_basketball.gold }}</p>
                    <p><b>Silver-</b></p>
                    <p>{{ womens_basketball.silver }}</p>
                    <p><b>Bronze-</b></p>
                    <p>{{ womens_basketball.bronze }}</p>
                    <p><a align="center" href="/submit/womens-basketball/">Change</a></p></td>
                </tr>
            </table> 
        </div>
    </body>
</html>
{% endblock %}