{% extends 'Main/header.html' %}

{% block content %}
<html>
    <body>
        <div align="center">
            <table style="width:85%">
                <tr>
                    <td><h2>Eventing</h2>
                    <p><b>Gold-</b></p>
                    <p>{{ eventing.gold }}</p>
                    <p><b>Silver-</b></p>
                    <p>{{ eventing.silver }}</p>
                    <p><b>Bronze-</b></p>
                    <p>{{ eventing.bronze }}</p>
                    <a id="link1" href="/submit/eventing/"><button class="button1 button3">Change</button></a>
                    <!--<a id="link1" href="/view-all/eventing/"><button class="button1 button3">View All</button></a></td>-->
                    
                    <td><h2>Show Jumping</h2>
                    <p><b>Gold-</b></p>
                    <p>{{ show_jumping.gold }}</p>
                    <p><b>Silver-</b></p>
                    <p>{{ show_jumping.silver }}</p>
                    <p><b>Bronze-</b></p>
                    <p>{{ show_jumping.bronze }}</p>
                    <a id="link1" href="/submit/show-jumping/"><button class="button1 button3">Change</button></a></td>
                    <!--<a id="link1" href="/view-all/show-jumping/"><button class="button1 button3">View All</button></a></td>-->
                    
                    <td><h2>Women's Beach Volleyball</h2>
                    <p><b>Gold-</b></p>
                    <p>{{ womens_beach_volleyball.gold }}</p>
                    <p><b>Silver-</b></p>
                    <p>{{ womens_beach_volleyball.silver }}</p>
                    <p><b>Bronze-</b></p>
                    <p>{{ womens_beach_volleyball.bronze }}</p>
                    <a id="link1" href="/submit/womens-beach-volleyball/"><button class="button1 button3">Change</button></a></td>              
                    <!--<a id="link1" href="/view-all/womens-beach-volleyball/"><button class="button1 button3">View All</button></a></td>-->
                    
                    <td><h2>Men's Water Polo</h2>
                    <p><b>Gold-</b></p>
                    <p>{{ mens_waterpolo.gold }}</p>
                    <p><b>Silver-</b></p>
                    <p>{{ mens_waterpolo.silver }}</p>
                    <p><b>Bronze-</b></p>
                    <p>{{ mens_waterpolo.bronze }}</p>
                    <a id="link1" href="/submit/mens-waterpolo/"><button class="button1 button3">Change</button></a></td>
                    <!--<a id="link1" href="/view-all/mens-waterpolo/"><button class="button1 button3">View All</button></a></td>-->
                    
                    <td><h2>Women's BMX</h2>
                    <p><b>Gold-</b></p>
                    <p>{{ womens_bmx.gold }}</p>
                    <p><b>Silver-</b></p>
                    <p>{{ womens_bmx.silver }}</p>
                    <p><b>Bronze-</b></p>
                    <p>{{ womens_bmx.bronze }}</p>
                    <a id="link1" href="/submit/womens-bmx/"><button class="button1 button3">Change</button></a></td>
                    <!--<a id="link1" href="/view-all/womens-bmx/"><button class="button1 button3">View All</button></a></td>-->
                    
                    </tr>
                    <tr>
                    <td><h2>Men's BMX</h2>
                    <p><b>Gold-</b></p>
                    <p>{{ mens_bmx.gold }}</p>
                    <p><b>Silver-</b></p>
                    <p>{{ mens_bmx.silver }}</p>
                    <p><b>Bronze-</b></p>
                    <p>{{ mens_bmx.bronze }}</p>
                    <a id="link1" href="/submit/mens-bmx/"><button class="button1 button3">Change</button></a></td>
                    <!--<a id="link1" href="/view-all/mens-bmx/"><button class="button1 button3">View All</button></a></td>-->
                    
                    <td><h2>Women's Basketball</h2>
                    <p><b>Gold-</b></p>
                    <p>{{ womens_basketball.gold }}</p>
                    <p><b>Silver-</b></p>
                    <p>{{ womens_basketball.silver }}</p>
                    <p><b>Bronze-</b></p>
                    <p>{{ womens_basketball.bronze }}</p>
                    <a id="link1" href="/submit/womens-basketball/"><button class="button1 button3">Change</button></a></td>
                    <!--<a id="link1" href="/view-all/womens-basketball/"><button class="button1 button3">View All</button></a></td>-->
                    
                    <td><h2>Men's Handball</h2>
                    <p><b>Gold-</b></p>
                    <p>{{ mens_handball.gold }}</p>
                    <p><b>Silver-</b></p>
                    <p>{{ mens_handball.silver }}</p>
                    <p><b>Bronze-</b></p>
                    <p>{{ mens_handball.bronze }}</p>
                    <a id="link1" href="/submit/mens-handball/"><button class="button1 button3">Change</button></a></td>
                    <!--<a id="link1" href="/view-all/mens-handball/"><button class="button1 button3">View All</button></a></td>-->
                    
                    <td><h2>Women's Swimming 4x100m Medley Relay</h2>
                    <p><b>Gold-</b></p>
                    <p>{{ womens_swimming_4x100_medley_relay.gold }}</p>
                    <p><b>Silver-</b></p>
                    <p>{{ womens_swimming_4x100_medley_relay.silver }}</p>
                    <p><b>Bronze-</b></p>
                    <p>{{ womens_swimming_4x100_medley_relay.bronze }}</p>
                    <a id="link1" href="/submit/womens-swimming-4x100-medley-relay/"><button class="button1 button3">Change</button></a></td>                                    
                    <!--<a id="link1" href="/view-all/womens-swimming-4x100-medley-relay/"><button class="button1 button3">View All</button></a></td>-->
                    
                    <td><h2>Men's Swimming 4x100m Medley Relay</h2>
                    <p><b>Gold-</b></p>
                    <p>{{ mens_swimming_4x100_medley_relay.gold }}</p>
                    <p><b>Silver-</b></p>
                    <p>{{ mens_swimming_4x100_medley_relay.silver }}</p>
                    <p><b>Bronze-</b></p>
                    <p>{{ mens_swimming_4x100_medley_relay.bronze }}</p>
                    <a id="link1" href="/submit/mens-swimming-4x100-medley-relay/"><button class="button1 button3">Change</button></a></td>
                    <!--<a id="link1" href="/view-all/mens-swimming-4x100-medley-relay/"><button class="button1 button3">View All</button></a></td>-->
                    
                </tr>
                <tr>
                    <td><h2>Women's Swimming 200m Backstroke</h2>
                    <p><b>Gold-</b></p>
                    <p>{{ womens_swimming_200m_backstroke.gold }}</p>
                    <p><b>Silver-</b></p>
                    <p>{{ womens_swimming_200m_backstroke.silver }}</p>
                    <p><b>Bronze-</b></p>
                    <p>{{ womens_swimming_200m_backstroke.bronze }}</p>
                    <a id="link1" href="/submit/womens-swimming-200m-backstroke/"><button class="button1 button3">Change</button></a></td>
                    <!--<a id="link1" href="/view-all/womens-swimming-200m-backstroke/"><button class="button1 button3">View All</button></a></td>-->
                    
                    <td><h2>Men's Swimming 200m Individual Medley</h2>
                    <p><b>Gold-</b></p>
                    <p>{{ mens_swimming_1500m_freestyle.gold }}</p>
                    <p><b>Silver-</b></p>
                    <p>{{ mens_swimming_1500m_freestyle.silver }}</p>
                    <p><b>Bronze-</b></p>
                    <p>{{ mens_swimming_1500m_freestyle.bronze }}</p>
                    <a id="link1" href="/submit/mens-swimming-200m-IM/"><button class="button1 button3">Change</button></a></td>
                    <!--<a id="link1" href="/view-all/mens-swimming-200m-IM/"><button class="button1 button3">View All</button></a></td> -->                  
                    
                    <td><h2>Women's 3000m Steeplechase</h2>
                    <p><b>Gold-</b></p>
                    <p>{{ womens_decathalon.gold }}</p>
                    <p><b>Silver-</b></p>
                    <p>{{ womens_decathalon.silver }}</p>
                    <p><b>Bronze-</b></p>
                    <p>{{ womens_decathalon.bronze }}</p>
                    <a id="link1" href="/submit/womens-3000m-steeplechase/"><button class="button1 button3">Change</button></a></td>
                    <!--<a id="link1" href="/view-all/womens-3000m-steeplechase/"><button class="button1 button3">View All</button></a></td>-->
                    
                    <td><h2>Men's 3000m Steeplechase</h2>
                    <p><b>Gold-</b></p>
                    <p>{{ mens_decathalon.gold }}</p>
                    <p><b>Silver-</b></p>
                    <p>{{ mens_decathalon.silver }}</p>
                    <p><b>Bronze-</b></p>
                    <p>{{ mens_decathalon.bronze }}</p>
                    <a id="link1" href="/submit/mens-3000m-steeplechase/"><button class="button1 button3">Change</button></a></td>
                    <!--<a id="link1" href="/view-all/mens-3000m-steeplechase/"><button class="button1 button3">View All</button></a></td>-->
                    
                
                    <td><h2>Women's Track 4x100m Relay</h2>
                    <p><b>Gold-</b></p>
                    <p>{{ womens_track_4x100_relay.gold }}</p>
                    <p><b>Silver-</b></p>
                    <p>{{ womens_track_4x100_relay.silver }}</p>
                    <p><b>Bronze-</b></p>
                    <p>{{ womens_track_4x100_relay.bronze }}</p>
                    <a id="link1" href="/submit/womens-track-4x100-relay/"><button class="button1 button3">Change</button></a></td>               
                    <!--<a id="link1" href="/view-all/womens-track-4x100-relay/"><button class="button1 button3">View All</button></a></td>-->
                    </tr>
                    <tr>
                    <td><h2>Men's Track 4x100m Relay</h2>
                    <p><b>Gold-</b></p>
                    <p>{{ mens_track_4x100_relay.gold }}</p>
                    <p><b>Silver-</b></p>
                    <p>{{ mens_track_4x100_relay.silver }}</p>
                    <p><b>Bronze-</b></p>
                    <p>{{ mens_track_4x100_relay.bronze }}</p>
                    <a id="link1" href="/submit/mens-track-4x100-relay/"><button class="button1 button3">Change</button></a></td>                  
                    <!--<a id="link1" href="/view-all/mens-track-4x100-relay/"><button class="button1 button3">View All</button></a></td>-->
                    
                    <td><h2>Women's Soccer</h2>
                    <p><b>Gold-</b></p>
                    <p>{{ womens_soccer.gold }}</p>
                    <p><b>Silver-</b></p>
                    <p>{{ womens_soccer.silver }}</p>
                    <p><b>Bronze-</b></p>
                    <p>{{ womens_soccer.bronze }}</p>
                    <a id="link1" href="/submit/womens-soccer/"><button class="button1 button3">Change</button></a></td>
                    <!--<a id="link1" href="/view-all/womens-soccer/"><button class="button1 button3">View All</button></a></td>-->
                    
                    <td><h2>Men's Soccer</h2>
                    <p><b>Gold-</b></p>
                    <p>{{ mens_soccer.gold }}</p>
                    <p><b>Silver-</b></p>
                    <p>{{ mens_soccer.silver }}</p>
                    <p><b>Bronze-</b></p>
                    <p>{{ mens_soccer.bronze }}</p>
                    <a id="link1" href="/submit/mens-soccer/"><button class="button1 button3">Change</button></a></td>
                    <!--<a id="link1" href="/view-all/mens-soccer/"><button class="button1 button3">View All</button></a></td>-->
                    
                    <td><h2>Women's All-Around Gymnastics</h2>
                    <p><b>Gold-</b></p>
                    <p>{{ womens_all_around_gymnastics.gold }}</p>
                    <p><b>Silver-</b></p>
                    <p>{{ womens_all_around_gymnastics.silver }}</p>
                    <p><b>Bronze-</b></p>
                    <p>{{ womens_all_around_gymnastics.bronze }}</p>
                    <a id="link1" href="/submit/womens-all-around-gymnastics/"><button class="button1 button3">Change</button></a></td>
                    <!--<a id="link1" href="/view-all/womens-all-around-gymnastics/"><button class="button1 button3">View All</button></a></td>-->
                    
                    <td><h2>Men's All-Around Gymnastics</h2>
                    <p><b>Gold-</b></p>
                    <p>{{ mens_all_around_gymnastics.gold }}</p>
                    <p><b>Silver-</b></p>
                    <p>{{ mens_all_around_gymnastics.silver }}</p>
                    <p><b>Bronze-</b></p>
                    <p>{{ mens_all_around_gymnastics.bronze }}</p>
                    <a id="link1" href="/submit/mens-all-around-gymnastics/"><button class="button1 button3">Change</button></a></td>
                    <!--<a id="link1" href="/view-all/mens-all-around-gymnastics/"><button class="button1 button3">View All</button></a></td>-->
                    
                </tr>
            </table> 
        </div>
    </body>
</html>
{% endblock %}