body {
    font-size: 100%
}
h1 {
    color: bb3344;
    font-family: Georgia, serif;
    font-size: 500%;
    padding: 0px 25px;
}

h2 {
    color: bb3344;
    font-family: Georgia, serif;
    font-size: 225%;
    padding: 0px 50px;
}
h3 {
    color: bb3344;
    font-family: Georgia, serif;
    font-size: 350%;
    padding: 0px 50px;
}
p {
    color: 4c4b44;
    font-family: sans-serif;
    font-size: 200%;
    padding: 0px 50px;
}

#p2 {
    color: 4c4b44;
    font-family: sans-serif;
    font-size: 150%;
    padding: 0px 50px;
}

#p3 {
    color: #4c4b44;
    font-family: sans-serif;
    font-size: 14px;
}

#p4 {
    color: 4c4b44;
    font-family: sans-serif;
    font-size: 200%;
    padding: 0px 50px;
    text-align: center;
}
#p5 {
    color: #bb3344;
    font-family: sans-serif;
    font-size: 200%;
    padding: 0px 50px;
}
#p6 {
    color: #2eb8b8;
    font-family: sans-serif;
    font-size: 500%;
    padding: 0px 50px;
}
#pgreen {
    color: 008040;
    font-family: sans-serif;
    font-size: 200%;
    text-align: center;
}

#pred {
    color: bb3344;
    font-family: sans-serif;
    font-size: 200%;
    text-align: center;
}
a {
    color: #008040;
    font-family: Georgia, serif;
    font-size: 150%;
    text-decoration: none;
    text-align: center;
}

.leftcomments {
    float:left;
    width: 50%;
}
.rightcomments {
    float:right;
    width: 50%;
    overflow: hidden;
}
.width {
    width: 100%;
}
.width1 {
    width: 50%;
}
.height {
    height: 100%;
}
.overflowauto {
    overflow: hidden;
}
#heightdashboard {
    height: 100%;
    overflow: auto;
}
#heightcomments {
    height: 100%;
    overflow: hidden;
}
#rankingmargin {
    margin: 0px 0px 0px 0px;
}
#commentsmargin {
    margin: 0px 0px 0px 0px;
}
#comments {
    color: #4c4b44;
    font-family: sans-serif;
    font-size: 150%;
    border-style: solid;
    border-width: 3px 0px 3px 0px;
    border-color: #2eb8b8;
    padding: 0;
    margin: 10px;
}
#h1comments {
    color: bb3344;
    text-align: center;
    font-family: Georgia, serif;
    font-size: 500%;
    padding: 0px 25px;
}
#acomments {
    color: #008040;
    font-family: Georgia, serif;
    font-size: 250%;
    text-decoration: none;
    text-align: center;
}
#allcommentsmargin {
    margin: 10px 100px 10px 100px;
}
#link1 {
    color: #008040;
    font-family: Georgia, serif;
    font-size: 24pt;
    text-decoration: none;
    padding-left: 50px;
}
#link2 {
    color: #008040;
    font-family: Georgia, serif;
    font-size: 20pt;
    text-decoration: none;
    padding-left: 50px;
}
#link3 {
    color: #008040;
    font-family: Georgia, serif;
    font-size: 22pt;
    text-decoration: none;
    padding-left: 50px;
}
* {
  margin: 0;
}
html, body {
  height: 100%;
}
.page-wrap {
  min-height: 100%;
  /* equal to footer height */
  margin-bottom: 60px;
}
.page-wrap:after {
  content: "";
  display: block;
}
.site-footer, .page-wrap:after {
  height: 60px;
}
.site-footer {
  background: #e3e3e3;
}

.button1 {
    background-color: #008040; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 24px;
    margin: 4px 2px;
    cursor: pointer;
}
.button2 {
    background-color: #008040; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 24px;
    margin: 4px 50px;
    cursor: pointer;
}

.button3 {background-color: #008040;}

#link2 {
    color: #008040;
    font-family: Georgia, serif;
    font-size: 150%;
    text-decoration: none;
    text-align: center;
}

#link3 {
    color: #008040;
    font-family: Georgia, serif;
    font-size: 250%;
    text-decoration: none;
    text-align: center;
}

#link4 {
    color: #008040;
    font-family: Georgia, serif;
    font-size: 150%;
    text-decoration: none;
    text-align: center;
}

#link5 {
    color: #008040;
    font-family: Georgia, serif;
    font-size: 14px;
    text-decoration: none;
    text-align: left;
}
#section1 {
    width:350px;
    float:left;
    padding:10px;
}

#section2 {
    width:75%;
    padding:10%;
}

#section3 {
    float:right;
    margin: 0 7% 5% 0;
    padding:0%;
    overflow: auto;
}
.nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: 2eb8b8;
}

.nav .left {
    float: left;
}
.nav .right {
    float: right;
}

.nav li a {
    display: block;
    color: white;
    font-size: 250%;
    font-family: Georgia, serif;
    text-align: center;
    padding: 5px 15px;
    text-decoration: none;
}

.nav li a:hover {
    background-color: #ccbc8a;
}

    background-color: #555;
    color: white;
}


#table1 {
    border-collapse: collapse;
    width: 100%;
}

#tablelogin {
    border-collapse: collapse;
    width: 20%;
}

#th1, #td1 {
    border-bottom: 1px solid #ddd;
}

#tr1:hover{background-color:#f5f5f5}