body {
    font-size: 100%
}
h1 {
    color: bb3344;
    font-family: Georgia, serif;
    font-size: 500%;
    padding: 0px 25px;
}

h2 {
    color: bb3344;
    font-family: Georgia, serif;
    font-size: 225%;
    padding: 0px 50px;
}
p {
    color: 4c4b44;
    font-family: sans-serif;
    font-size: 200%;
    padding: 0px 50px;
}

#p2 {
    color: 4c4b44;
    font-family: sans-serif;
    font-size: 150%;
    padding: 0px 50px;
}
a {
    color: #008040;
    font-family: Georgia, serif;
    font-size: 150%;
    text-decoration: none;
    text-align: center;
}

#link1 {
    color: #008040;
    font-family: Georgia, serif;
    font-size: 400%;
    text-decoration: none;
    padding-left: 50px;
}

#link2 {
    color: #008040;
    font-family: Georgia, serif;
    font-size: 150%;
    text-decoration: none;
    text-align: center;
}

#link3 {
    color: #008040;
    font-family: Georgia, serif;
    font-size: 250%;
    text-decoration: none;
    text-align: center;
}


#section1 {
    width:350px;
    float:left;
    padding:10px;
}

#section2 {
    width:75%;
    padding:10%;
}

#section3 {
    float:right;
    margin: 0 7% 5% 0;
    padding:0%;
    overflow: auto;
}
.nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: 2eb8b8;
}

.nav .left {
    float: left;
}
.nav .right {
    float: right;
}

.nav li a {
    display: block;
    color: white;
    font-size: 250%;
    font-family: Georgia, serif;
    text-align: center;
    padding: 5px 15px;
    text-decoration: none;
}

.nav li a:hover {
    background-color: #ccbc8a;
}

    background-color: #555;
    color: white;
}


.footer {
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  background-color: #efefef;
  text-align: center;
  font-size: 12px;
}

table {
    border-collapse: collapse;
    width: 100%;
}

#tablelogin {
    border-collapse: collapse;
    width: 20%; 
}

th, td {
    border-bottom: 1px solid #ddd;
}

tr:hover{background-color:#f5f5f5}