{% extends 'Main/header.html' %}

{% block content %}

<div align="center">
    <br>
        <table style="width:100%">
            <tr>
                <td>
                    <a id="link1" href="/sports/eventing/"><img src="https://googledrive.com/host/0B3SAS3jD44jkcTBDV1MxZ3k2V1U/" height="300px" width="300px"></a></td>  
                </td>                
                <td>
                    <a id="link1" href="/sports/show-jumping/"><img src="https://googledrive.com/host/0B3SAS3jD44jkNkRBYXAzN091S3M/" height="300px" width="300px"></a></td>  
                </td>                
                <td>
                    <a id="link1" href="/sports/womens-beach-volleyball/"><img src="https://googledrive.com/host/0B3SAS3jD44jkZWF0RmVSU056RjA/" height="300px" width="300px"></a></td>  
                </td>                
                <td>
                    <a id="link1" href="/sports/mens-waterpolo/"><img src="https://googledrive.com/host/0B3SAS3jD44jkMGtZZlh3QW0wcXc/" height="300px" width="300px"></a></td>  
                </td>
            </tr>
            <tr>
                <td><p id="p4">Eventing</p>
                    <p id="p4"> </p></td>
                    <td><p id="p4">Show Jumping</p>
                    <p id="p4"> </p></td>
                    <td><p id="p4">Women's</p>
                    <p id="p4">Beach Volleyball</p></td>
                    <td><p id="p4">Men's </p>
                    <p id="p4">Waterpolo</p></td>
            </tr>
            <tr>
                <td>
                    <a id="link1" href="/sports/womens-bmx/"><img src="https://googledrive.com/host/0B3SAS3jD44jkUGZhOVY5eGVwcE0/" height="300px" width="300px"></a></td>  
                </td>                
                <td>
                    <a id="link1" href="/sports/mens-bmx/"><img src="https://googledrive.com/host/0B3SAS3jD44jkTmhZSUhxTVJSa1E/" height="300px" width="300px"></a></td>  
                </td>                
                <td>
                    <a id="link1" href="/sports/womens-basketball/"><img src="https://googledrive.com/host/0B3SAS3jD44jkbFlOOWhJYkZkRDA/" height="300px" width="300px"></a></td>  
                </td>                
                <td>
                    <a id="link1" href="/sports/mens-handball/"><img src="https://googledrive.com/host/0B3SAS3jD44jkaG1UMG00cWZpQmc/" height="300px" width="300px"></a></td>  
                </td>
            </tr>
            <tr>
                <td><p id="p4">Women's</p>
                    <p id="p4">BMX </p></td>
                    <td><p id="p4">Men's</p>
                    <p id="p4">BMX </p></td>
                    <td><p id="p4">Women's</p>
                    <p id="p4">Basketball</p></td>
                    <td><p id="p4">Men's</p>
                    <p id="p4">Handball </p></td>
            </tr>
            
            <tr>
                <td>
                    <a id="link1" href="/sports/womens-swimming-4x100-medley-relay/"><img src="https://googledrive.com/host/0B3SAS3jD44jkSzdPanJuRXY0RWM/" height="300px" width="300px"></a></td>  
                </td>                
                <td>
                    <a id="link1" href="/sports/mens-swimming-4x100-medley-relay/"><img src="https://googledrive.com/host/0B3SAS3jD44jkZFNsU0FvWXdYd2M/" height="300px" width="300px"></a></td>  
                </td>                
                <td>
                    <a id="link1" href="/sports/womens-swimming-200m-backstroke/"><img src="https://googledrive.com/host/0B3SAS3jD44jkS1lzM3VyZUtDcm8/" height="300px" width="300px"></a></td>  
                </td>                
                <td>
                    <a id="link1" href="/sports/mens-swimming-200m-freestyle/"><img src="https://googledrive.com/host/0B3SAS3jD44jkcFRmaWV0dldMTW8/" height="300px" width="300px"></a></td>  
                </td>
            </tr>
            <tr>
                <td><p id="p4">Women's</p>
                    <p id="p4">4x100m Medley </p></td>
                    <td><p id="p4">Men's</p>
                    <p id="p4">4x100m Medley </p></td>
                    <td><p id="p4">Women's</p>
                    <p id="p4">800m Backstroke</p></td>
                    <td><p id="p4">Men's</p>
                    <p id="p4">200m Freestyle </p></td>
            </tr>
            <tr>
                <td>
                <a id="link1" href="/sports/womens-decathalon/"><img src="https://googledrive.com/host/0B3SAS3jD44jkSFQxMlJ6SnV2TXM/" height="300px" width="300px"></a></td>  
                </td>                
                <td>
                    <a id="link1" href="/sports/mens-decathalon/"><img src="https://googledrive.com/host/0B3SAS3jD44jkNEhJNUQ5VE5SRGs/" height="300px" width="300px"></a></td>  
                </td>
                <td>
                    <a id="link1" href="/sports/womens-track-4x100-relay/"><img src="https://googledrive.com/host/0B3SAS3jD44jkY0d4WVlzUmktdVU/" height="300px" width="300px"></a></td>  
                </td>                
                <td>
                    <a id="link1" href="/sports/mens-track-4x100-relay/"><img src="https://googledrive.com/host/0B3SAS3jD44jkQmFjVjlWaV9UZms/" height="300px" width="300px"></a></td>  
                </td>                
                
            </tr>
            <tr>
                <td><p id="p4">Women's</p>
                    <p id="p4">Decathalon</p></td>
                    <td><p id="p4">Men's</p>
                    <p id="p4">Decathalon</p></td>
                    <td><p id="p4">Women's Track</p>
                    <p id="p4">4x100m Relay </p></td>
                    <td><p id="p4">Men's Track</p>
                    <p id="p4">4x100m Relay </p></td>
                    
            </tr>
            <tr>
                <td>
                    <a id="link1" href="/sports/womens-soccer/"><img src="https://googledrive.com/host/0B3SAS3jD44jkMkpFWmhMVFpkVFU/" height="300px" width="300px"></a></td>  
                </td>                
                <td>
                    <a id="link1" href="/sports/mens-soccer/"><img src="https://googledrive.com/host/0B3SAS3jD44jkR21NSzBKUE02UTg/" height="300px" width="300px"></a></td>  
                </td>                
                <td>
                    <a id="link1" href="/sports/womens-all-around-gymnastics/"><img src="https://googledrive.com/host/0B3SAS3jD44jkbHIxR0hNSTZMS0U/" height="300px" width="300px"></a></td>  
                </td>                
                <td>
                    <a id="link1" href="/sports/mens-all-around-gymnastics/"><img src="https://googledrive.com/host/0B3SAS3jD44jkS2tac0hSamhjWGc/" height="300px" width="300px"></a></td>  
                </td>
            </tr>
            <tr>
                <td><p id="p4">Women's</p>
                    <p id="p4">Soccer </p></td>
                    <td><p id="p4">Men's</p>
                    <p id="p4">Soccer </p></td>
                    <td><p id="p4">Women's</p>
                    <p id="p4">Gymnastics</p></td>
                    <td><p id="p4">Men's</p>
                    <p id="p4">Gymnastics </p></td>
            </tr>
</div>
{% endblock %}