{% extends 'Main/header.html' %}

{% block content %}

    <div>
        <h1>What is {{ sport.sport_name }}?</h1>
            <p>{{ sport.sport_description|linebreaks }}</p>
        <h2>How is the winner chosen?</h2>
            <p>{{ sport.scoring|linebreaks }}</p>
        <h2>Who's going to win?</h2>
            <p>{{ sport.favorite|linebreaks }}</p>
            <a id="link2" href="{{ sport.rankings_link }}">{{ sport.view_rankings }}</a>

        <h2>When to watch</h2>
            <p>{{ sport.competition_dates|linebreaks }}</p>
    </div>

    <div id="section3">
        <img src="{{sport.image}}" alt="">
        <p id="p3">Photo courtesy of <a id="link5" href="{{sport.source_link}}">{{ sport.source_text }}</a> without modification under CC.</p>
    </div>
    <div>
        <h1>Your current guesses:</h1>
            <p><b>Gold-</b></p>
                <p>{{ userselection.gold }}</p>
            <p><b>Silver-</b></p>
                <p>{{ userselection.silver }}</p>
            <p><b>Bronze-</b></p>
                <p>{{ userselection.bronze }}</p>
    </div>
    <div>
        <p><a href="/submit/{{sport.sport_slug}}/">Click Here to Submit or Change Guess</a></p>
    </div>

{% endblock %}