<h1>{{ sport.sport_name }}</h1>

<p>{{ sport.sport_description }}</p>

<br><b>Participating Athletes:</b></br>
{% for athlete in sport.athlete.all %}
    <br>{{athlete.athlete_full_name}} {{athlete.country}}</br>
{% endfor %}


<p><b>Your current guesses:</b></p>
<p>Gold-</p>
{{ userselection.gold_medal_winner }}
<p>Silver-</p>
{{ userselection.silver_medal_winner }}
<p>Bronze-</p>
{{ userselection.bronze_medal_winner }}
<p><a href="/submit/{{sport.sport_slug}}/">Click Here to Submit or Change Guess</a></p>